html {
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;
  font-family: "graphik trial";
  font-size: 14px;
  color: hsl(0 0% 20%);
  height: 100%;
}

.Header {
  box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1px solid var(--gray-o1);
}

.Grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(15, 48px);
}

.app-button {
  all: unset;
  height: 32px;
  width: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 4px;
}
.app-button:hover {
  background-color: var(--gray-c2);
}

.Swatch {
  display: inline-flex;
  box-sizing: border-box;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.Name {
  display: inline-flex;
  box-sizing: border-box;
  grid-column: 1/3;
  align-items: center;
}

.Container {
  box-sizing: border-box;
  max-width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

.f-g {
  filter: grayscale(1);
}

.blur {
  filter: blur(15px);
}

.gap {
  gap: 1px;
}

.d-f { display: flex; }
.fw-w { flex-wrap: wrap; }
.g-2 { gap: 8px }
.g-8 { gap: 40px }
.fd-c { flex-direction: column; }