:root {
  --gray-s1: hsl(0, 0%, 99%);
  --gray-s2: hsl(0, 0%, 97.5%);
  --gray-c1: hsl(0, 0%, 95%);
  --gray-c2: hsl(0, 0%, 93.25%);
  --gray-c3: hsl(0, 0%, 91.75%);
  --gray-o1: hsl(0, 0%, 91.5%);
  --gray-o2: hsl(0, 0%, 81%);
  --gray-o3: hsl(0, 0%, 73%);
  --gray-p1: hsl(0, 0%, 55%);
  --gray-p2: hsl(0, 0%, 51%);
  --gray-t1: hsl(0, 0%, 39%);
  --gray-t2: hsl(0, 0%, 13%);

  --mauve-s1: hsl(300, 20%, 99%);
  --mauve-s2: hsl(270, 20%, 98%);
  --mauve-c1: hsl(285, 14%, 95%);
  --mauve-c2: hsl(276, 12%, 92%);
  --mauve-c3: hsl(274, 12%, 89%);
  --mauve-o1: hsl(262, 11%, 86%);
  --mauve-o2: hsl(258, 11%, 82%);
  --mauve-o3: hsl(249, 10%, 75%);
  --mauve-p1: hsl(249, 6%, 57%);
  --mauve-p2: hsl(250, 5%, 53%);
  --mauve-t1: hsl(252, 5%, 41%);
  --mauve-t2: hsl(257, 10%, 14%);

  --slate-s1: hsl(240, 20%, 99%);
  --slate-s2: hsl(240, 20%, 98%);
  --slate-c1: hsl(240, 11%, 95%);
  --slate-c2: hsl(240, 10%, 92%);
  --slate-c3: hsl(230, 11%, 89%);
  --slate-o1: hsl(240, 10%, 86%);
  --slate-o2: hsl(233, 10%, 82%);
  --slate-o3: hsl(231, 10%, 75%);
  --slate-p1: hsl(231, 6%, 57%);
  --slate-p2: hsl(226, 5%, 53%);
  --slate-t1: hsl(220, 6%, 40%);
  --slate-t2: hsl(210, 13%, 13%);

  --sage-s1: hsl(150, 33%, 99%);
  --sage-s2: hsl(150, 14%, 97%);
  --sage-c1: hsl(160, 10%, 94%);
  --sage-c2: hsl(160, 6%, 91%);
  --sage-c3: hsl(140, 5%, 88%);
  --sage-o1: hsl(160, 4%, 85%);
  --sage-o2: hsl(150, 4%, 80%);
  --sage-o3: hsl(150, 3%, 73%);
  --sage-p1: hsl(157, 3%, 54%);
  --sage-p2: hsl(157, 3%, 50%);
  --sage-t1: hsl(160, 3%, 38%);
  --sage-t2: hsl(154, 12%, 12%);

  --olive-s1: hsl(120, 20%, 99%);
  --olive-s2: hsl(120, 17%, 98%);
  --olive-c1: hsl(120, 7%, 94%);
  --olive-c2: hsl(120, 4%, 91%);
  --olive-c3: hsl(120, 5%, 88%);
  --olive-o1: hsl(120, 4%, 85%);
  --olive-o2: hsl(120, 3%, 81%);
  --olive-o3: hsl(105, 3%, 73%);
  --olive-p1: hsl(103, 3%, 54%);
  --olive-p2: hsl(103, 3%, 50%);
  --olive-t1: hsl(110, 3%, 38%);
  --olive-t2: hsl(108, 8%, 12%);

  --sand-s1: hsl(60, 20%, 99%);
  --sand-s2: hsl(60, 8%, 97%);
  --sand-c1: hsl(30, 7%, 94%);
  --sand-c2: hsl(40, 6%, 91%);
  --sand-c3: hsl(45, 6%, 88%);
  --sand-o1: hsl(45, 5%, 85%);
  --sand-o2: hsl(48, 5%, 80%);
  --sand-o3: hsl(51, 5%, 72%);
  --sand-p1: hsl(60, 3%, 54%);
  --sand-p2: hsl(60, 2%, 50%);
  --sand-t1: hsl(60, 3%, 38%);
  --sand-t2: hsl(48, 8%, 12%);

  --amber-s1: hsl(50, 100%, 97%);
  --amber-s2: hsl(49, 100%, 95%);
  --amber-c1: hsl(48, 100%, 88%);
  --amber-c2: hsl(47, 100%, 85%);
  --amber-c3: hsl(46, 100%, 83%);
  --amber-o1: hsl(46, 84%, 70%);
  --amber-o2: hsl(42, 75%, 65%);
  --amber-o3: hsl(38, 75%, 55%);
  --amber-p1: hsl(42, 100%, 62%);
  --amber-p2: hsl(42, 100%, 55%);
  --amber-t1: hsl(35, 100%, 34%);
  --amber-t2: hsl(24, 40%, 22%);

  --orange-s1: hsl(38, 100%, 98.5%);
  --orange-s2: hsl(36, 100%, 97%);
  --orange-c1: hsl(37, 100%, 92.5%);
  --orange-c2: hsl(35, 100%, 91%);
  --orange-c3: hsl(34, 100%, 89%);
  --orange-o1: hsl(30, 100%, 75%);
  --orange-o2: hsl(27, 87%, 71%);
  --orange-o3: hsl(25, 80%, 63%);
  --orange-p1: hsl(23, 93%, 53%);
  --orange-p2: hsl(24, 100%, 47%);
  --orange-t1: hsl(23, 100%, 40%);
  --orange-t2: hsl(16, 50%, 23%);

  --red-s1: hsl(0, 100%, 99.25%);
  --red-s2: hsl(0, 100%, 98.5%);
  --red-c1: hsl(0, 100%, 96.75%);
  --red-c2: hsl(0, 100%, 95.75%);
  --red-c3: hsl(0, 100%, 95%);
  --red-o1: hsl(359, 94%, 87%);
  --red-o2: hsl(359, 77%, 81%);
  --red-o3: hsl(359, 70%, 74%);
  --red-p1: hsl(358, 75%, 59%);
  --red-p2: hsl(358, 69%, 55%);
  --red-t1: hsl(358, 65%, 49%);
  --red-t2: hsl(351, 63%, 24%);

  --pink-s1: hsl(310, 100%, 99.25%);
  --pink-s2: hsl(308, 100%, 98.5%);
  --pink-c1: hsl(316, 100%, 96.5%);
  --pink-c2: hsl(316, 100%, 95.5%);
  --pink-c3: hsl(316, 100%, 94.5%);
  --pink-o1: hsl(323, 60%, 84%);
  --pink-o2: hsl(323, 55%, 79%);
  --pink-o3: hsl(308, 52%, 72%);
  --pink-p1: hsl(308, 65%, 55%);
  --pink-p2: hsl(308, 61%, 52%);
  --pink-t1: hsl(308, 65%, 46%);
  --pink-t2: hsl(320, 70%, 23%);

  --plum-s1: hsl(290, 100%, 99.25%);
  --plum-s2: hsl(290, 100%, 98.75%);
  --plum-c1: hsl(290, 100%, 97%);
  --plum-c2: hsl(288, 100%, 95.75%);
  --plum-c3: hsl(288, 100%, 95%);
  --plum-o1: hsl(286, 53%, 84%);
  --plum-o2: hsl(284, 49%, 78%);
  --plum-o3: hsl(282, 48%, 71%);
  --plum-p1: hsl(282, 45%, 51%);
  --plum-p2: hsl(282, 44%, 48%);
  --plum-t1: hsl(282, 45%, 44%);
  --plum-t2: hsl(281, 58%, 23%);

  --purple-s1: hsl(290, 100%, 99.25%);
  --purple-s2: hsl(272, 100%, 98.75%);
  --purple-c1: hsl(276, 100%, 97%);
  --purple-c2: hsl(275, 100%, 96%);
  --purple-c3: hsl(274, 100%, 95.25%);
  --purple-o1: hsl(275, 69%, 86%);
  --purple-o2: hsl(273, 62%, 81%);
  --purple-o3: hsl(272, 60%, 74%);
  --purple-p1: hsl(272, 51%, 54%);
  --purple-p2: hsl(272, 45%, 50%);
  --purple-t1: hsl(272, 45%, 49%);
  --purple-t2: hsl(270, 50%, 25%);
    
  --violet-s1: hsl(258, 100%, 99.25%);
  --violet-s2: hsl(258, 100%, 98.75%);
  --violet-c1: hsl(258, 100%, 97%);
  --violet-c2: hsl(257, 100%, 96%);
  --violet-c3: hsl(255, 100%, 95.5%);
  --violet-o1: hsl(254, 96%, 89%);
  --violet-o2: hsl(254, 76%, 84%);
  --violet-o3: hsl(254, 69%, 76%);
  --violet-p1: hsl(254, 56%, 57%);
  --violet-p2: hsl(254, 50%, 54%);
  --violet-t1: hsl(254, 43%, 52%);
  --violet-t2: hsl(249, 43%, 26%);
    
  --indigo-s1: hsl(220, 100%, 99.25%);
  --indigo-s2: hsl(218, 100%, 98.5%);
  --indigo-c1: hsl(214, 100%, 96%);
  --indigo-c2: hsl(216, 100%, 95%);
  --indigo-c3: hsl(217, 100%, 94%);
  --indigo-o1: hsl(225, 100%, 88%);
  --indigo-o2: hsl(226, 87%, 82%);
  --indigo-o3: hsl(226, 75%, 75%);
  --indigo-p1: hsl(226, 70%, 55%);
  --indigo-p2: hsl(226, 65%, 52%);
  --indigo-t1: hsl(226, 56%, 50%);
  --indigo-t2: hsl(226, 50%, 24%);
    
  --blue-s1: hsl(204, 100%, 99%);
  --blue-s2: hsl(198, 100%, 97.75%);
  --blue-c1: hsl(204, 100%, 95%); 
  --blue-c2: hsl(205, 100%, 93.5%);
  --blue-c3: hsl(206, 100%, 92.5%);
  --blue-o1: hsl(207, 93%, 83%);
  --blue-o2: hsl(207, 85%, 76%);
  --blue-o3: hsl(206, 82%, 65%);
  --blue-p1: hsl(206, 100%, 50%);
  --blue-p2: hsl(207, 96%, 48%);
  --blue-t1: hsl(208, 88%, 43%);
  --blue-t2: hsl(216, 71%, 23%);

  --teal-s1: hsl(165, 76%, 99%);
  --teal-s2: hsl(165, 70%, 97%);
  --teal-c1: hsl(167, 66%, 92.25%);
  --teal-c2: hsl(167, 64%, 89%);
  --teal-c3: hsl(168, 62%, 87%);
  --teal-o1: hsl(168, 48%, 75%);
  --teal-o2: hsl(170, 43%, 66%);
  --teal-o3: hsl(172, 42%, 53%);
  --teal-p1: hsl(173, 80%, 36%);
  --teal-p2: hsl(173, 85%, 33%);
  --teal-t1: hsl(172, 100%, 26%);
  --teal-t2: hsl(174, 65%, 15%);

  --green-s1: hsl(137, 85%, 98.5%);
  --green-s2: hsl(137, 84%, 97%);
  --green-c1: hsl(128, 59%, 93%);
  --green-c2: hsl(130, 57%, 91%);
  --green-c3: hsl(132, 55%, 89%);
  --green-o1: hsl(144, 41%, 77%);
  --green-o2: hsl(146, 40%, 68%);
  --green-o3: hsl(151, 40%, 54%);
  --green-p1: hsl(151, 55%, 42%);
  --green-p2: hsl(152, 56%, 39%);
  --green-t1: hsl(154, 60%, 32%);
  --green-t2: hsl(156, 42%, 24%);

}

.theme-dark {
  color-scheme: dark;
}